# avoid dcm files
*.dcm

# Mac OS specific files
.DS_Store

# Python cache files
__pycache__/

# zip files
*.zip

# ignore pth
*.pth

# ignore png files
*.png

# expect the png files in the ref directory (all subdirectories)
!ref/**/*.png

# only ignore png files in segmentation directory
!segmentation/*.png

# ignore npz
*.npz