# avoid dcm files
*.dcm

# Mac OS specific files
.DS_Store

# Python cache files
__pycache__/

# zip files
*.zip

# ignore pth
*.pth

# ignore png files
*.png

# expect the png file in the ref directory
!ref/*.png